.footer__text {
  color: rgba(84, 84, 84, 1);
  margin: 0;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
}

@media screen and (max-width: 544px) {
  .footer {
    max-width: 282px;
    margin: 50px auto 0;
  }

  .footer__text {
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: 0%;
  }
}
